{% extends 'templates/App/_template_frame.html' %}

{% block title %}
<title>Online Judge</title>
{% endblock %}

{% block css %}
{% load static %}
<link href="{% static 'css/form_class_quiz.css ' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<form id="select-quiz" method="post" action="">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <!-- 하단 인디케이터, 단순 미관용 -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" aria-label="Slide 1" disabled></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Slide 2" disabled></button>
        </div>
        <div class="carousel-inner">
            <!-- 페이즈 2: 퀴즈 선택 -->
            <div class="carousel-item quiz-list active" data-bs-interval="100000000">
                <div class="contents">
                    <div class="list" style="width: 40%; display: inline-block; margin-right: 60px;">
                        <!-- START: 퀴즈 목록 -->
                        <div class="quiz-item">
                            <!-- 퀴즈 이름: submit 기능 수행 -->
                            <input type="submit" value="퀴즈 1" class="text-primary"><!-- [70, 100] class="text-primary" -->
                            <!-- 퀴즈 점수: 점수에 따라 aria-valuenow="70", style=width:70%, 태그 사이 70 / 100과 같이 설정 -->
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75 / 100</div>
                            </div>
                        </div>
                        <div class="quiz-item">
                            <input type="submit" value="퀴즈 2" class="text-warning"><!-- [30, 70): class="text-warning, 30점 미만은 text-danger" -->
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">45 / 100</div>
                            </div>
                        </div>
                        <div class="quiz-item validate"><!-- 응시 일시 이전인 퀴즈는 class에 validate 추가 -->
                            <input type="submit" value="퀴즈 3">
                            <!-- 응시 이전이므로, 점수 대신 일시인 datetime class가 표시됨 -->
                            <div class="datetime">
                                2022-03-19 13:30
                            </div>
                        </div>
                        <!-- END  : 퀴즈 목록 -->
                        <!-- START: 퀴즈 등록 버튼, 교사일 경우에만 출력 -->
                        <div class="quiz-add">
                            {% csrf_token %}
                            <input type="submit" value="퀴즈 등록" required="">
                        </div>
                        <!-- END  : 퀴즈 등록 버튼, 교사일 경우에만 출력 -->
                    </div>
                    <div class="list" style="width: 40%; display: inline-block; margin-right: 60px;">
                    </div>
                </div>
                <div class="carousel-caption caption d-none d-md-block">
                    <h5>퀴즈 / 시험</h5>
                    <p>응시할 퀴즈 또는 시험을 선택해 주세요.</p>
                </div>
            </div>
        </div>
        <!-- (좌 버튼) 내 수업[form_class.html]으로 돌아가기 -->
        <button class="carousel-control-prev" type="submit" name="action" value="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
    </div>
</form>
{% endblock %}