{% extends 'template.html' %}

{% block title %}
<title>Online Judge</title>
{% endblock %}

{% block css %}
{% load static %}

{% endblock %}

{% block content %}
<div id="" style="width: 540px; position: absolute; left: 50%; top: 52%; transform: translate(-50%, -50%); ">
    <div style="text-align:center"><img src="{% static 'img/under-construction.png' %}" /></div>
    <div style="text-align:center; padding:10px; font-family:GMarketSansBold; font-size:32px;">서비스 준비중입니다.</div>
</div>
{% endblock %}
