{% extends 'template.html' %}

{% block title %}
<title>Online Judge</title>
{% endblock %}

{% block css %}
{% load static %}
<link href="{% static 'css/online_judge.css ' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<form id="online-judge" method="post">
    {%csrf_token%}
    <!-- ======= 문제 번호 ======= -->
    <div class="number-header header"></div>
    <div class="number contents">
        <!-- 번호, href -->
        <!--
            class =
                correct  : 제출 및 정답, 파란색
                wrong    : 제출 및 오답, 빨간색
                selected : 현재 선택 문제, 검은색
                그 외    : 미제출, 연회색
        -->
        <div class="correct"><a href=""></a></div>
        <div class="wrong"><a href=""></a></div>
        <div class="correct"><a href=""></a></div>
        <div class="correct"><a href=""></a></div>
        <div class="selected"><a href=""></a></div>
        <div class=""><a href=""></a></div>
        <div class=""><a href=""></a></div>
    </div>
    <!-- ======= 문제 설명 ======= -->
    <div class="description-header header">문제 설명</div>
    <div class="description contents">
        <p>
            {% comment %} 세종대학교의 데이터베이스에는 다음과 같이 <span class="text-attribute">STUDENT</span> 테이블이 있습니다. <span class="text-attribute">STUDENT_ID</span>는 학번을 나타냅니다. {% endcomment %}
            {{ contents.0|safe }}
        </p>
        <!-- 초기 테이블 (필요시) -->
        <div class="table-container">
            {{origintable|safe}}
            {% if righttable %}
            <br />
            {{righttable|safe}}
            {% endif %}
        </div>
        <p>
            {{contents.1|safe}}
        </p>

        <div class="table-container">
            {{modifytable|safe}}
        </div>
        <!-- 정답 목표 테이블 -->

    </div>

    <!-- ======= 코드 에디터 ======= -->
    <div class="input-header header">코드 에디터</div>
    <div class="input contents">
        <!-- 입력 텍스트, 이하 더미 데이터 -->
        <textarea name="code" cols="50" rows="7">{{sql}}</textarea>

    </div>

    <!-- ======= 실행 결과 ======= -->
    <div class="output-header header">실행 결과</div>
    <div class="output contents">
        <!-- 메시지 출력 (예: 정답, 오답, 에러 코드, 오답 사유 등) -->
        <div class="solved">
            {{answer}}
        </div>
        <!-- 출력 테이블 -->
        {{table|safe}}
    </div>

    <!-- ======= 실행 버튼, href ======= -->
    <button type="submit" name="execute" class="header execute-header">
        실행하기
    </button>
    <button type="submit" name="submit" id="submit" class="header submit-header" onclick="javascript: form.action='{% url 'app:test_submit' class.id quiz.id problem.id %}';">
        코드 제출
    </button>
</form>


{% endblock %}