/*--------------------------------------------------------------
# Select Class and Quiz
--------------------------------------------------------------*/


#form-class-quiz {
    width: 800px;
    height: 480px;
    position: absolute;
    left: 50%;
    top: 49%;
    transform: translate(-50%, -50%);
    font-family: GMarketSansMedium;
}


#select-class-quiz {
    margin: 30px;
    height: 480px;
    display: grid;
    grid-template-areas:
        'class quiz';
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    font-family: GmarketSansMedium;
}

    #select-class-quiz .class-list {
        background-color: #FAFAFA;
        border-radius: 20px;
        grid-area: class;
        padding: 25px;
    }

        #select-class-quiz .class-list .item {
            margin-bottom: 15px;
        }

            #select-class-quiz .class-list .item .class-name {
                display: inline;
                margin-top: 2px;
            }

                #select-class-quiz .class-list .item .class-name a {
                    color: black;
                }

                #select-class-quiz .class-list .item .class-name .active {
                    border-bottom: 1px solid #4472C4;
                    color: #4472C4;
                }

                #select-class-quiz .class-list .item .class-name a:hover {
                    border-bottom: 1px solid #4472C4;
                    color: #4472C4;
                }

            #select-class-quiz .class-list .item .class-delete {
                display: inline;
                float: right;
            }

            #select-class-quiz .class-list .item .class-delete {
                display: inline;
                float: right;
            }

                #select-class-quiz .class-list .item .class-delete:hover {
                    transform: scale(1.1);
                }

                #select-class-quiz .class-list .item .class-delete > a {
                    color: #AAAAAA;
                    border: 1px solid #AAAAAA;
                    border-radius: 5px;
                    padding: 3px 4px 1px 4px;
                    font-family: GMarketSansLight;
                    font-size: 12px;
                }

            #select-class-quiz .class-list .item button {
            }

    #select-class-quiz .quiz-list {
        grid-area: quiz;
        text-align: center;
        display: grid;
        grid-template-areas:
            'title'
            'contents';
        gap: 1px;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        font-family: GmarketSansMedium;
        border: 1px solid black;
        border-radius: 12px;
        background-color: black;
    }

        #select-class-quiz .quiz-list .title {
            text-align: center;
            grid-area: title;
            background-color: #4472C4;
            color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-size: 24px;
            padding-top: 6px;
            padding-left: 50px;
            display: grid;
            grid-template-columns: 1fr 50px;
        }

        #select-class-quiz .quiz-list .contents {
            grid-area: contents;
            background-color: white;
            color: black;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            overflow: scroll;
            text-align: left;
            padding: 15px;
            font-size: 18px;
        }

            #select-class-quiz .quiz-list .contents .item {
                padding-bottom: 10px;
                display: grid;
                grid-template-areas:
                    'name score';
                grid-template-columns: auto 1fr;
            }

                #select-class-quiz .quiz-list .contents .item a {
                    grid-area: name;
                    color: black;
                    margin-right: 25px;
                    border-bottom: 1px solid white;
                }

                    #select-class-quiz .quiz-list .contents .item a:hover {
                        border-bottom: 1px solid black;
                    }

                #select-class-quiz .quiz-list .contents .item .score {
                    grid-area: score;
                    margin-top:3px;
                }

                #select-class-quiz .quiz-list .contents .item .datetime {
                    grid-area: score;
                    margin-top:2px;
                    padding-top:2px;
                    border-radius: 4px;
                    font-size: 10pt;
                    text-align: center;
                    background-color: #E9ECEF;
                    border-radius: 5px;
                    display:inline;
                    height:20px;
                }