/*--------------------------------------------------------------
# My Page
--------------------------------------------------------------*/


#mypage-grade {
    margin: 30px;
    height: 480px;
    display: grid;
    grid-template-areas:
        'class quiz student';
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: GmarketSansMedium;
}

    #mypage-grade .class-list {
        background-color: #FAFAFA;
        border-radius: 20px;
        grid-area: class;
        padding: 15px;
    }

        #mypage-grade .class-list .item {
            margin-bottom: 15px;
        }

            #mypage-grade .class-list .item .class-name {
                display:inline;
                margin-top:2px;
            }

            #mypage-grade .class-list .item .class-name a {
                color: black;
            }

            #mypage-grade .class-list .item .class-name .active {
                border-bottom: 1px solid #4472C4;
                color: #4472C4;
            }

            #mypage-grade .class-list .item .class-name a:hover {
                border-bottom: 1px solid #4472C4;
                color: #4472C4;
            }

            #mypage-grade .class-list .item .class-delete {
                display: inline;
                float: right;
            }

                #mypage-grade .class-list .item .class-delete > a {
                    color: #AAAAAA;
                    border:1px solid #AAAAAA;
                    border-radius:5px;
                    padding:3px 4px 1px 4px;
                    font-family:GMarketSansLight;
                    font-size:12px;
                }

                #mypage-grade .class-list .item button {

                }

    #mypage-grade .quiz-list {
        grid-area: quiz;
        text-align: center;
        display: grid;
        grid-template-areas:
            'title'
            'contents';
        gap: 1px;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        font-family: GmarketSansMedium;
        border: 1px solid black;
        border-radius: 12px;
        background-color: black;
    }

        #mypage-grade .quiz-list .title {
            text-align: center;
            grid-area: title;
            background-color: #4472C4;
            color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-size: 24px;
            padding-top: 6px;
            padding-left: 50px;
            display: grid;
            grid-template-columns: 1fr 50px;
        }

        #mypage-grade .quiz-list .contents {
            grid-area: contents;
            background-color: white;
            color: black;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            overflow: scroll;
            text-align: left;
            padding: 15px;
            font-size: 18px;
        }

            #mypage-grade .quiz-list .contents .item {
                margin-bottom: 10px;
            }

                #mypage-grade .quiz-list .contents .item a {
                    color: black;
                }

                    #mypage-grade .quiz-list .contents .item a:hover {
                        border-bottom: 1px solid black;
                    }

    #mypage-grade .student-list {
        grid-area: student;
        text-align: center;
        display: grid;
        grid-template-areas:
            'title'
            'contents';
        gap: 1px;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        font-family: GmarketSansMedium;
        border: 1px solid black;
        border-radius: 12px;
        background-color: black;
    }

        #mypage-grade .student-list .title {
            text-align: center;
            grid-area: title;
            background-color: #4472C4;
            color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-size: 24px;
            padding-top: 6px;
            padding-left: 50px;
            display: grid;
            grid-template-columns: 1fr 50px;
        }

        #mypage-grade .student-list .contents {
            grid-area: contents;
            background-color: white;
            color: black;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            overflow-y: scroll;
            height: 435px;
        }

            #mypage-grade .student-list .contents .item {
                display: grid;
                grid-template-areas: 'name score';
                gap: 1px;
                grid-template-columns: 89px 1fr 100px;
                border-bottom: 1px solid black;
                background-color: white;
                padding-top: 5px;
                padding-left: 10px;
                text-align: left;
            }

                #mypage-grade .student-list .contents .item a {
                    color: black;
                }

    #mypage-grade .quiz-list {
    }

    #mypage-grade .student-list {
    }
