/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #222222;
    font-size: 14px;
    padding: 20px 0;
    color: #FFFFFF;
    height:125px;
}

    #footer h3 {
        font-size: 36px;
        position: relative;
        padding: 0;
        margin: 0 0 15px 0;
        font-family: GmarketSansMedium;
    }

    #footer p {
        font-size: 12pt;
        padding: 0;
        margin: 0 0 5px 0;
        font-family: GmarketSansLight;
    }
