/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #222222;
    font-size: 14px;
    padding: 16px 0;
    height: 125px;
}

    #footer .footer-info {
        width: 1000px;
        margin: auto;
        display: grid;
        grid-template-areas: 'logo team class';
        grid-template-columns: 360px 320px auto;
        font-family: GmarketSansMedium;
        color: white;
    }


        #footer .footer-info .logo {
            grid-area: logo;
            display: flex;
            padding-left: 50px;
        }

            #footer .footer-info .logo .logo-img {
                display: inline;
                margin: 3px 0;
            }

                #footer .footer-info .logo .logo-img img {
                    width: 80px;
                }

            #footer .footer-info .logo .logo-text {
                display: inline;
                margin: 8px 5px;
            }


            #footer .footer-info .logo .title .text-color {
                color: #4472C4;
            }

            #footer .footer-info .logo .title .text-light {
                font-family: GMarketSansLight;
                font-size: 18px;
            }

            #footer .footer-info .logo .title {
                font-size: 22pt;
                padding: 0;
                font-family: GmarketSansBold;
                margin-bottom: 4px;
            }

            #footer .footer-info .logo .subtitle {
                font-size: 12pt;
                padding: 0;
                font-family: GmarketSansLight;
            }

                #footer .footer-info .logo .subtitle .text-color {
                    color: #4472C4;
                    font-family: GmarketSansMedium;
                }


        #footer .footer-info .team {
            grid-area: team;
            text-align: right;
            margin-top: 8px;
            padding-right: 15px;
        }

            #footer .footer-info .team h3 {
                font-size: 32px;
                position: relative;
                padding: 0;
                margin-top: 5px;
                font-family: GmarketSansMedium;
                color: rgb(195, 0, 47);
                margin-bottom: 4px;
            }

            #footer .footer-info .team p {
                font-size: 16px;
                font-family: GmarketSansLight;
            }


        #footer .footer-info .class {
            grid-area: class;
            margin: 16px;
            padding-left: 5px;
        }

            #footer .footer-info .class > p {
                font-family: GmarketSansLight;
                font-size: 16px;
            }


                #footer .footer-info .class > p span {
                    font-size: 12px;
                }
