/*--------------------------------------------------------------
# Select Class and Quiz
--------------------------------------------------------------*/


#form-class-quiz {
    width: 1200px;
    height: 480px;
    position: absolute;
    left: 50%;
    top: 49%;
    transform: translate(-50%, -50%);
    font-family: GMarketSansMedium;
}

#select-class-quiz {
    margin: 30px;
    height: 480px;
    display: grid;
    grid-template-areas:
        'class-list quiz-list problem-list';
    gap: 50px;
    grid-template-columns: 3fr 3fr 3fr;
    font-family: GmarketSansMedium;
}

    #select-class-quiz .class-list {
        background-color: #FAFAFA;
        border-radius: 20px;
        grid-area: class-list;
        padding: 25px;
    }

        #select-class-quiz .class-list .item {
            margin-bottom: 15px;
        }

            #select-class-quiz .class-list .item .class-name {
                display: inline;
                margin-top: 2px;
            }

                #select-class-quiz .class-list .item .class-name a {
                    color: black;
                }

                #select-class-quiz .class-list .item .class-name .active {
                    border-bottom: 1px solid #4472C4;
                    color: #4472C4;
                }

                #select-class-quiz .class-list .item .class-name a:hover {
                    border-bottom: 1px solid #4472C4;
                    color: #4472C4;
                }

            #select-class-quiz .class-list .item .class-delete {
                display: inline;
                float: right;
            }

            #select-class-quiz .class-list .item .class-delete {
                display: inline;
                float: right;
            }

                #select-class-quiz .class-list .item .class-delete:hover {
                    transform: scale(1.1);
                }

                #select-class-quiz .class-list .item .class-delete > a {
                    color: #AAAAAA;
                    border: 1px solid #AAAAAA;
                    border-radius: 5px;
                    padding: 3px 4px 1px 4px;
                    font-family: GMarketSansLight;
                    font-size: 12px;
                }

            #select-class-quiz .class-list .item button {
            }

    #select-class-quiz .quiz-list {
        grid-area: quiz-list;
        text-align: center;
        display: grid;
        grid-template-areas:
            'title'
            'contents';
        gap: 1px;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        font-family: GmarketSansMedium;
        border: 1px solid black;
        border-radius: 12px;
        background-color: black;
    }

        #select-class-quiz .quiz-list .title {
            text-align: center;
            grid-area: title;
            background-color: #4472C4;
            color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-size: 24px;
            padding-top: 6px;
            padding-left: 50px;
            display: grid;
            grid-template-columns: 1fr 50px;
        }

        #select-class-quiz .quiz-list .contents {
            grid-area: contents;
            background-color: white;
            color: black;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            overflow: scroll;
            text-align: left;
            padding: 15px;
            font-size: 18px;
        }

            #select-class-quiz .quiz-list .contents .item {
                padding-bottom: 10px;
                display: grid;
                grid-template-areas:
                    'name score';
                grid-template-columns: auto 1fr;
            }

                #select-class-quiz .quiz-list .contents .item a {
                    grid-area: name;
                    color: black;
                    margin-right: 25px;
                    border-bottom: 1px solid white;
                }

                    #select-class-quiz .quiz-list .contents .item a:hover {
                        border-bottom: 1px solid #4472C4;
                        color: #4472C4;
                    }

                #select-class-quiz .quiz-list .contents .item .score {
                    grid-area: score;
                    margin-top: 3px;
                }

                #select-class-quiz .quiz-list .contents .item .datetime {
                    grid-area: score;
                    margin-top: 2px;
                    padding-top: 2px;
                    border-radius: 4px;
                    font-size: 10pt;
                    text-align: center;
                    background-color: #E9ECEF;
                    border-radius: 5px;
                    display: inline;
                    height: 20px;
                }

    #select-class-quiz #problem-list {
        text-align: center;
        display: grid;
        grid-template-areas:
            'title title title'
            'subtitle-number subtitle-result subtitle-rate'
            'item item item';
        gap: 1px;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 56px auto 85px;
        font-family: GmarketSansMedium;
        border: 1px solid black;
        border-radius: 12px;
        background-color: black;
        height: 480px;
    }

        #select-class-quiz #problem-list .title {
            text-align: center;
            grid-area: title;
            background-color: #4472C4;
            color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-size: 24px;
            padding-left: 50px;
            display: grid;
            grid-template-columns: 1fr 50px;
        }

            #select-class-quiz #problem-list .title .text {
                padding-top: 3px;
            }

            #select-class-quiz #problem-list .title > a {
                padding-top: 2px;
            }

        #select-class-quiz #problem-list .subtitle-number {
            grid-area: subtitle-number;
            background-color: #F2F2F2;
            color: black;
            font-size: 18px;
            padding-top: 5px;
        }

        #select-class-quiz #problem-list .subtitle-result {
            grid-area: subtitle-result;
            background-color: #F2F2F2;
            color: black;
            font-size: 18px;
            padding-top: 5px;
        }

        #select-class-quiz #problem-list .subtitle-rate {
            grid-area: subtitle-rate;
            background-color: #F2F2F2;
            color: black;
            font-size: 18px;
            padding-top: 5px;
        }

        #select-class-quiz #problem-list .contents {
            grid-area: item;
            background-color: #F2F2F2;
            color: black;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            overflow: scroll;
        }

            #select-class-quiz #problem-list .contents .item {
                display: grid;
                grid-template-areas: 'number result rate';
                gap: 1px;
                grid-template-columns: 55px auto 86px;
                height: 48px;
                border-bottom: 1px solid black;
                background-color: white;
                text-align: center;
            }

                #select-class-quiz #problem-list .contents .item .number {
                    background-color: white;
                    text-align: center;
                    grid-area: number;
                    font-size: 20px;
                    vertical-align: middle;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 3px;
                }

                    #select-class-quiz #problem-list .contents .item .number a {
                        color: black;
                        font-size: 18px;
                    }

                #select-class-quiz #problem-list .contents .item .result {
                    background-color: white;
                    text-align: center;
                    padding: 5px 10px;
                    border-left: 1px solid black;
                    grid-area: result;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                    #select-class-quiz #problem-list .contents .item .result > button {
                        width: 80px;
                        padding-bottom: 1px;
                    }

                #select-class-quiz #problem-list .contents .item .rate {
                    background-color: white;
                    border-left: 1px solid black;
                    font-size: 18px;
                    padding-top: 5px;
                    grid-area: rate;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    font-family: GMarketSansMedium;
                }

                    #select-class-quiz #problem-list .contents .item .rate.easy {
                        color: forestgreen;
                    }

                    #select-class-quiz #problem-list .contents .item .rate.normal {
                        color: orange;
                    }

                    #select-class-quiz #problem-list .contents .item .rate.hard {
                        color: red;
                    }



.student-list {
    grid-area: student;
    text-align: center;
    display: grid;
    grid-template-areas:
        'title'
        'contents';
    gap: 1px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    font-family: GmarketSansMedium;
    border: 1px solid black;
    border-radius: 12px;
    background-color: black;
}

    .student-list .title {
        text-align: center;
        grid-area: title;
        background-color: #4472C4;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 24px;
        padding-top: 6px;
        padding-left: 50px;
        display: grid;
        grid-template-columns: 1fr 50px;
    }

    .student-list .contents {
        grid-area: contents;
        background-color: white;
        color: black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow-y: scroll;
        height: 435px;
    }
