{% extends 'templates/App/_template_frame.html' %}

{% block title %}
<title>Online Judge</title>
{% endblock %}

{% block css %}
{% load static %}
<link href="{% static 'css/form_class_quiz.css ' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<form id="select-quiz" method="post" action="">
    {% csrf_token %}
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <!-- 하단 인디케이터, 단순 미관용 -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" disabled></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2" disabled></button>
        </div>
        <div class="carousel-inner">
            <!-- 페이즈 1: 수업 선택 -->
            <div class="carousel-item class-list active" data-bs-interval="100000000">
                <div class="contents">
                    <!-- START: 내 수업 목록 -->
                    <div class="class-item">
                        <input id="class1" type="radio" name="class" style="margin-right:10px">
                        <label for="class0">데이터베이스001 (윤은일)</label>
                    </div>
                    <div class="class-item">
                        <input id="class2" type="radio" name="class" style="margin-right:10px">
                        <label for="class1">데이터베이스002 (윤은일)</label>
                    </div>
                    <!-- END  : 내 수업 목록 -->
                </div>
                <div class="carousel-caption caption d-none d-md-block">
                    <h5>내 수업</h5>
                    <p>수업을 선택해 주세요.</p>
                </div>
            </div>
        </div>
        <!-- (우 버튼) 퀴즈 선택 페이지[form_quiz.html]로 이동 -->
        <!-- (우) 페이지 이동 버튼 -->
        <button class="carousel-control-next" type="button" name="action" value="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</form>
{% endblock %}