{% extends 'templates/App/_template_frame.html' %}

{% block title %}
<title>Online Judge</title>
{% endblock %}

{% block css %}
{% load static %}
<link href="{% static 'css/mypage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div style="margin:200px 1000px; font-size:24px;">
    <div style="margin:30px 0;">
        <a href={% url 'App:classQuiz' %}>분반 & 퀴즈 선택</a>
    </div>
    <div style="margin:30px 0;">
        <a href={% url 'App:datetime' %}>퀴즈 등록: 일시</a>
    </div>
    <div style="margin:30px 0;">
        <a href={% url 'App:theme' %}>퀴즈 등록: 문제 테마</a>
    </div>
    <div style="margin:30px 0;">
        <a href={% url 'App:review' %}>퀴즈 등록: 검토</a>
    </div>
    <div style="margin:30px 0;">
        <a href={% url 'App:onlineJudge' %}>온라인 저지</a>
    </div>
    <div style="margin:30px 0;">
        <a href={% url 'App:mypage' %}>마이페이지</a>
    </div>
    <div style="margin:50px 0;">
        <a href={% url 'App:test' %}>TEST</a>
    </div>
</div>
{% endblock %}
