{% extends 'templates/App/_template_frame.html' %}

{% block title %}
<title>Online Judge</title>
{% endblock %}

{% block css %}
{% load static %}
<link href="{% static 'css/mypage.css' %}" rel="stylesheet">
<link href="{% static 'css/mypage_grade.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<form id="mypage" method="post">
    {% csrf_token %}
    <!-- ========== START: 네비게이션 (검정) ========== -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link" type="button" role="tab">개인 정보</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" type="button" role="tab">수업 관리</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" type="button" role="tab">성적 확인</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" type="button" role="tab">학생 등록</button>
        </li>
    </ul>
    <!-- ========== END  : 네비게이션 (검정) ========== -->
    <div id="mypage-grade">
        <!-- ===== 수업 목록 ===== -->
        <div class="class-list">
            <!-- 수업 -->
            <div class="item">
                <a class="active" href="">데이터베이스001 (윤은일)</a>
            </div>
            <div class="item">
                <a href="">데이터베이스002 (윤은일)</a>
            </div>
        </div>
        <!-- ===== 퀴즈 목록 ===== -->
        <div class="quiz-list">
            <div class="title">퀴즈 / 시험</div>
            <div class="contents">
                <!-- 퀴즈 -->
                <div class="item">
                    <a href="">퀴즈 1</a>
                </div>
                <div class="item">
                    <a href="">퀴즈 2</a>
                </div>
            </div>
        </div>
        <!-- ===== 학생 목록 ===== -->
        <div class="student-list">
            <!-- 학생 -->
            <div class="title">퀴즈 / 시험</div>
            <div class="contents">
                <div class="item">
                    <a href="">퀴즈 1</a>
                </div>
                <div class="item">
                    <a href="">퀴즈 2</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
