{% extends 'templates/App/_template_frame.html' %}

{% block title %}
<title>Online Judge</title>
{% endblock %}

{% block css %}
{% load static %}
<link href="{% static 'css/quiz_enroll.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<form id="quiz-enroll-datetime" method="post">
    <!-- ========== 날짜 ========== -->
    <div class="row mb-5">
        <label for="inputDate" class="col-sm-3 col-form-label quiz-enroll-label">날짜</label>
        <div class="col-sm-8">
            <!-- 입력 -->
            <input name="date" type="date" class="form-control" id="inputDate">
        </div>
    </div>
    <!-- ========== 시각 ========== -->
    <div class="row mb-5">
        <label for="inputTime" class="col-sm-3 col-form-label quiz-enroll-label">시각</label>
        <div class="col-sm-8">
            <!-- 입력 -->
            <input name="time" type="time" class="form-control" id="inputTime">
        </div>
    </div>
    <!-- ========== 제한시간 ========== -->
    <div class="row mb-5">
        <label for="inputTimeout" class="col-sm-3 col-form-label quiz-enroll-label" style="color: #4472C4;">시간</label>
        <div class="col-sm-8">
            <!-- 입력 -->
            <input name="timeout" id="inputTimeout" type="number" class="form-control" step="5" min="0" placeholder="(분) 단위로 입력해 주세요.">
        </div>
    </div>
    <!-- ========== 버튼 ========== -->
    <div class="row mb-5 button-container">
        <button type="submit" class="btn btn-primary" style="background-color: #4472C4;">다음</button>
        <button type="reset" class="btn btn-outline-dark">초기화</button>
    </div>
</form>
{% endblock %}