{% extends 'template.html' %}

{% block title %}
    <title>Online Judge</title>
{% endblock %}

{% block css %}
    {% load static %}
    <link href="{% static 'css/form_quiz.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="form-quiz-review">
    <!-- ================ 좌측 레이아웃 ================ -->
    <form id="form-quiz-setting" method="post">
        <!-- ========== 테이블 ========== -->
        <div class="row mb-4">
            <label class="col-sm-3 col-form-label form-quiz-label">테이블</label>
            
            <select class="form-select" disabled  >    
                <option value="1" selected>{{quiz.tablename}}</option>
            </select>
            <div class="other-option"><a href="">테이블 직접 입력하기</a></div>
        </div>
        <!-- ========== 키워드 ========== -->
        <div class="row mb-5">
            <label class="col-sm-3 col-form-label form-quiz-label">키워드</label>
            <select class="form-select" disabled  >    
                <option value="1" selected>{{quiz.sqlkeyword}}</option>
            </select>
        </div>
        <!-- ========== 문제 개수 ========== -->
        <div class="row mb-5">
            <label for="problemCount" class="col-sm-3 col-form-label form-quiz-label" style="color: #4472C4;">문제 수</label>
            <div class="col-sm-8">
                <!-- 입력 -->
                <input name="count" id="problemCount" type="number" class="form-control" step="1" min="0" max="100" disabled value="{{quiz.problemnum}}">
            </div>
        </div>
        <!-- ========== 버튼 ========== -->
        <div class="row mb-5 button-container">
            <button type="button" class="btn btn-primary" style="background-color: #4472C4;" onclick=location.href="{% url 'app:quizreg_0'%}">등록</button>
            <button type="button" class="btn btn-outline-dark" onclick=location.href="{% url 'app:quiz_delete' quiz.classid.id quiz.id%}" >취소</button>
        </div>
    </form>

    <!-- ================ 우측 레이아웃 ================ -->
    <div id="form-quiz-problem-list">
        <!-- ========== 헤더 ========== -->
        <div class="title">
            <div class="text">문제 목록</div>
            <!-- 문제 재생성 -->
            <a href=""><img src="{% static 'img/quiz-list-shuffle.png' %}" /></a>
        </div>
        <div class="subtitle-difficulty">난이도</div>
        <div class="subtitle-query">쿼리</div>
        <!-- ========== 문제 목록 ========== -->
        <div class="problem-list">
            <!-- 아이템 -->
            <div class="item">
                <!-- (좌) 난이도 -->
                <div class="difficulty easy">하</div>
                <!-- (우) 쿼리 -->
                <div class="query">
                    SELECT * <br />
                    FROM Employee <br />
                </div>
                <button>변경</button>
            </div>
            <div class="item">
                <div class="difficulty easy">하</div>
                <div class="query">
                    SELECT *<br />
                    FROM Employee<br />
                    WHERE Title = ‘MANAGER’<br />
                </div>
                <button>변경</button>
            </div>
            <div class="item">
                <div class="difficulty normal">중</div>
                <div class="query">
                    SELECT *<br />
                    FROM Employee<br />
                    ORDER BY ID DESC<br />
                </div>
                <button>변경</button>
            </div>
            <div class="item">
                <div class="difficulty normal">중</div>
                <div class="query">
                    SELECT DISTINCT Department<br />
                    FROM Employee<br />
                </div>
                <button>변경</button>
            </div>
            <div class="item">
                <div class="difficulty hard">상</div>
                <div class="query">
                    SELECT *<br />
                    FROM Employee<br />
                    FROM Employee<br />
                </div>
                <button>변경</button>
            </div>
        </div>

    </div>
</div>

{% endblock %}