{% extends 'templates/App/_template_frame.html' %}

{% block title %}
<title>Online Judge</title>
{% endblock %}

{% block css %}
{% load static %}
<link href="{% static 'css/mypage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="mypage">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="privacy-tab" data-bs-toggle="tab" data-bs-target="#privacy" type="button" role="tab" aria-controls="privacy" aria-selected="true">개인 정보</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="class-tab" data-bs-toggle="tab" data-bs-target="#class" type="button" role="tab" aria-controls="class" aria-selected="false">수업 관리</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="grade-tab" data-bs-toggle="tab" data-bs-target="#grade" type="button" role="tab" aria-controls="grade" aria-selected="false">성적 확인</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="enroll-tab" data-bs-toggle="tab" data-bs-target="#enroll" type="button" role="tab" aria-controls="enroll" aria-selected="false">학생 등록</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="privacy" role="tabpanel" aria-labelledby="privacy-tab">
            <!-- ========== 개인 정보 ========== -->
            <form id="form-mypage-privacy" method="post">
                <!-- ==== 아이디 ==== -->
                <div class="row mb-4">
                    <label for="inputID" class="col-sm-3 col-form-label form-quiz-label">아이디</label>
                    <div class="col-sm-8">
                        <input name="date" id="inputID" type="text" class="form-control" placeholder="example@naver.com" disabled>
                    </div>
                </div>
                <!-- ==== 비밀번호 ==== -->
                <div class="row mb-4">
                    <label for="inputPassword" class="col-sm-3 col-form-label form-quiz-label">비밀번호</label>
                    <div class="col-sm-8">
                        <!-- 입력 -->
                        <input name="time" id="inputPassword" type="password" class="form-control">
                    </div>
                </div>
                <!-- ==== 이름 ==== -->
                <div class="row mb-4">
                    <label for="inputName" class="col-sm-3 col-form-label form-quiz-label">이름</label>
                    <div class="col-sm-8">
                        <!-- 입력 -->
                        <input name="time" id="inputName" type="text" class="form-control" placeholder="아무개" disabled>
                    </div>
                </div>
                <!-- ==== 직책 ==== -->
                <div class="row mb-4">
                    <label class="col-sm-3 col-form-label form-quiz-label">직책</label>
                    <div class="col-sm-8 role">
                        <!-- 입력 -->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="roleOption" id="roleTeacher" value="teacher" disabled>
                            <label class="form-check-label" for="inlineRadio1">교사</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="roleOption" id="roleStudent" value="student" disabled checked>
                            <label class="form-check-label" for="inlineRadio2">학생</label>
                        </div>
                    </div>
                </div>
                <!-- ==== 버튼 ==== -->
                <div class="button-container">
                    <button type="submit" class="btn btn-primary" style="background-color: #4472C4;">완료</button>
                    <button type="reset" class="btn btn-outline-dark">취소</button>
                </div>
            </form>
        </div>

        <!-- ========== 수업 관리 ========== -->
        <div class="tab-pane fade" id="class" role="tabpanel" aria-labelledby="class-tab">
            수업관리
        </div>

        <!-- ========== 성적 확인 ========== -->
        <div class="tab-pane fade" id="grade" role="tabpanel" aria-labelledby="grade-tab">
            성적확인
        </div>

        <!-- ========== 학생 등록 ========== -->
        <div class="tab-pane fade" id="enroll" role="tabpanel" aria-labelledby="enroll-tab">
            학생등록
        </div>
    </div>



</div>
{% endblock %}
