{% extends 'template.html' %}

{% block title %}
<title>DB School - Mypage</title>
{% endblock %}

{% block css %}
{% load static %}
<link href="{% static 'css/mypage.css' %}" rel="stylesheet">
<link href="{% static 'css/mypage_privacy.css' %}" rel="stylesheet">
{% endblock %}

{% block description %}
개인 정보를 수정하거나 수업을 관리합니다.
{% endblock %}

{% block content %}
<div id="mypage">
    <!-- ========== START: 네비게이션 (검정) ========== -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" type="button" role="tab" onclick="location.href='{% url 'account:mypage' %}'">개인 정보</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" type="button" role="tab" onclick="location.href='{% url 'app:manage' %}'">수업 관리</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" type="button" role="tab" onclick="location.href='{% url 'app:addclass' %}'">수업 등록</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" type="button" role="tab" onclick="location.href='{% url 'app:addstudent' %}'">학생 등록</button>
        </li>
    </ul>
    <!-- ========== END  : 네비게이션 (검정) ========== -->
    <div id="mypage-privacy">
        <!-- ========== 개인 정보 ========== -->
        <form id="form-mypage-privacy" method="post">
            <!-- ==== 아이디 ==== -->
            <div class="row mb-3">
                <label for="inputID" class="col-sm-4 col-form-label form-quiz-label">아이디</label>
                <div class="col-sm-8">
                    <input name="date" id="inputID" type="text" class="form-control" placeholder="example@naver.com" disabled value="{{ user.username}}">
                </div>
            </div>
            <!-- ==== 비밀번호 ==== -->
            <div class="row mb-3">
                <label for="password" class="col-sm-4 col-form-label form-quiz-label">비밀번호</label>
                <div class="col-sm-8">
                    <!-- 입력 -->
                    <input name="old_password" type="password" class="form-control" id="group">
                </div>
            </div>

            <div class="row mb-3">
                <label for="password" class="col-sm-4 col-form-label form-quiz-label" style="font-size:18px;">비밀번호 확인</label>
                <div class="col-sm-8">
                    <!-- 입력 -->
                    <input name="new_password1" type="password" class="form-control" id="group">
                </div>
            </div>
            <!-- ==== 이름 ==== -->
            <div class="row mb-3">
                <label for="inputName" class="col-sm-4 col-form-label form-quiz-label">이름</label>
                <div class="col-sm-8">
                    <!-- 입력 -->
                    <input name="time" id="inputName" type="text" class="form-control" placeholder="아무개" disabled value="{{ user.first_name}}">
                </div>
            </div>
            <!-- ==== 직책 ==== -->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label form-quiz-label">직책</label>
                <div class="col-sm-8 role">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="roleOption" id="roleTeacher" value="교수" disabled {% if user.Responsibility == "교수"%} checked {% endif %}>
                        <label class="form-check-label" for="inlineRadio1">교사</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="roleOption" id="roleStudent" value="학생" disabled {% if user.Responsibility == "학생"%} checked {% endif %}d>
                        <label class="form-check-label" for="inlineRadio2">학생</label>
                    </div>
                </div>
            </div>
            <!-- ==== 버튼 ==== -->
            <div class="button-container">
                <button type="submit" class="btn btn-primary" style="background-color: #4472C4;">완료</button>
                <button type="reset" class="btn btn-outline-dark">취소</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}